.CommentButton {
    font-size: 1.5rem;
    font-weight: bold;  
}

.CommentUser,
.CommentUpdated {
    color: #05192e;
    font-size: 0.8rem;
    margin: auto;
}

.CommentUpdated {    
    font-style: italic;
    text-align: end;
    margin-bottom: 0.25rem;
}

.CommentLink {
    color: #468be4;
    text-decoration: underline;
    margin: 0 0.2rem;
}

.CommentLink:hover {
    color: goldenrod;
    cursor: pointer;
}


@media only screen and (max-width: 575px) {
    .CommentUpdated {        
        margin-top: -1.25rem;
    }
}

@media only screen and (max-width: 400px) {
    .CommentUpdated {        
        margin-top: 0rem;
    }
}