.Form {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.FormLink {
    color: #468be4;
    font-size: 1.1rem;
    text-decoration: underline;    
}

.FormLink:hover {
    color: goldenrod;
    cursor: pointer;
}

.FormDateTime {
    display: inline-flex;
    width: 50%;
    margin-bottom: 0.1rem;
}


@media only screen and (max-width: 767px) {
    .Form {
        width: 98%;
    }
}

@media only screen and (max-width: 575px) {
    .FormDateTime {
        width: 100%;
        margin-bottom: 0.75rem;
    }
}