@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.NavBar {
    background: linear-gradient(100deg, #05192e 0%, #0c2a33 100%);
}

.NavBrand,
.NavLink,
.NavText,
.NavDropdown span,
.NavDropdown a {
    color: whitesmoke;
    text-decoration: none;
}

.NavBrand {
    font-family: 'Poppins';
    font-size: 1.6rem;
}

.NavBrandIcon {   
    margin-left: -0.2rem;
    margin-bottom: 1rem;    
}

.NavLink {
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem 0.4rem;
    padding: 0.5rem 0.5rem;    
    /* Invisible borders preserve navbar alignment */
    border-top: 1px solid #00000000;
    border-bottom: 1px solid #00000000;
}

.NavLink:hover {
    color: #05192e;
    background-color: whitesmoke;
    border-radius: 5rem;
}

.NavLinkActive {
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
}

.NavLinkIcon {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.NavText:hover {
    color: #468be4;
}

.NavDropdown {
    margin: auto;
}

.NavDropdown div {
    text-align: center;
    background: linear-gradient(50deg, #05192e 0%, #0c2a33 100%);
    width: fit-content;
}

.NavDropdown span {
    margin: 0.5rem 0;
    padding-bottom: 0.4rem;
}


@media only screen and (max-width: 767px) {
    .NavLink {
        width: 75%;
        text-align: left;
        margin: 0.25rem auto 0.25rem 0;
    }
}

@media only screen and (max-width: 575px) {
    .NavLink {
        width: 100%;
    }
}