.NavBar {
    background-color: #05192e;
}

.NavBrand,
.NavLink {
    color: whitesmoke;
    text-decoration: none; 
}

.NavBrand {
    font-family: 'Poppins';
    font-size: 1.5rem;
}

.NavBrandIcon {
    margin-left: -0.2rem;
    margin-bottom: 1rem;    
}

.NavLink {
    text-align: center;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

.NavLink:hover {
    color: #05192e;
    background-color: whitesmoke;
    border-radius: 5rem;
}

.ActiveLink {
    text-decoration: underline;
}

.NavLinkIcon {
    font-size: 1.5rem;
    padding-right: 0.5rem;
}