.PhotoLink {
    cursor: pointer;
}

.PhotoNoLink {
    cursor:default;
}

.PhotoOwner {
    color: whitesmoke;
    background-color: #00000055;
    margin: 0.75rem 0.5rem -3.25rem auto;
    padding: 0.3rem 0.5rem;
    border-radius: 5rem;
    z-index: 1
}

.PhotoOwner:hover {
    background-color: #468be455;
}

.PhotoInteractions {
    display: flex;
    justify-content: center;
    margin: -2.5rem 0 0.8rem 0.4rem;
    z-index: 1;
}

.PhotoInteractions p {
    margin: auto 0.6rem auto 0;
}

.PhotoIcon,
.PhotoStarred {
    font-size: 1.5rem;
    margin-right: 0.3rem;
    cursor: pointer;
}

.PhotoIcon {
    color: whitesmoke;
}

.PhotoStarred {
    color: goldenrod;
}

.PhotoDetails {
    padding: 0;
}


@media only screen and (max-width: 767px) {
    .PhotoInteractions {
        font-size: 0.9rem;
    }
}