.PhotoHeader {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
}

.PhotoTitle,
.PhotoSubtitle {
    margin: auto 0;
    padding: 0.3rem 0.5rem;
    border-radius: 5rem;
}

.PhotoSubtitle {
    color: whitesmoke;
    background-color: #00000055;
}

.PhotoSubtitle:hover {
    background-color: #468be455;
}

.PhotoFooter {
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
    z-index: 1;
}

.PhotoIcon,
.PhotoStarred {
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

.PhotoIcon {
    color: whitesmoke;
}

.PhotoStarred {
    color: goldenrod;
}

.PhotoFooter p {
    margin: auto 0.6rem auto 0;
}


@media only screen and (max-width: 767px) {
    .PhotoHeader {
        justify-content: right;
    }

    .PhotoTitle {
        display: none;
    }

    .PhotoSubtitle {
        font-size: 0.9rem;
    }
}