@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.FeedGallery {
    overflow: hidden;
    margin-bottom: 2rem;
}

.FeedHeader {
    font-family: 'Poppins';
    font-size: 1.75rem;
    margin-top: 0.35rem;
    margin-left: 0.25rem;
}

.FeedLink {
    margin: 0 0.2rem;
    text-decoration: underline;
}

.FeedLink:hover {
    color: goldenrod;
}

.FeedSearchIcon {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}


@media only screen and (max-width: 767px) {
    .FeedHeader {        
        text-align: center;
        font-size: 1.5rem;
    }
}