@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    font-family: 'Barlow';
    box-sizing: border-box;
}

.App {
    background-color: whitesmoke;
    min-height: 100vh;
}

.Main {
    padding-top: 5rem;
}

.Brand {
    font-family: 'Poppins';
    font-size: 2rem;
}

h1,
h2 {
    color: #05192e;
}

a {
    text-decoration: none;
    transition: ease-in-out 0.2s;    
  }

.Toast {
    --toastify-color-dark: #0c2a33;
    --toastify-color-progress-success: none;
    --toastify-color-progress-error: none;
}