@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* General Application Styles */
* {
    font-family: 'Barlow';
    box-sizing: border-box;
}

.App {
    background-color: whitesmoke;
    min-height: 100vh;
}

.Main {
    padding-top: 5rem;
}

h1,
h2 {
    color: #05192e;
}

a {
    transition: ease-in-out 0.2s;
    text-decoration: none;
  }

/* Component Styles   */
.Form {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.FormLink {
    font-size: 1.1rem;
    text-decoration: underline;    
}

.FormLink:hover {
    color: goldenrod;
}

.Button {
    color: whitesmoke;
    background-color: #0c2a33;
    border: 1px solid gainsboro;
}

.Button:hover {
    color: #05192e;
    background-color: goldenrod;
    border: 1px solid #05192e;
}


/* Media Queries */
@media only screen and (max-width: 767px) {
    .Form {
      width: 98%;
    }
  }